body {
    background-color: rgb(20, 20, 20);
}

body,
header,
.expositor {
    display: block;
}

header {
    display: block;
    float: left;
    width: 20%;
    text-align: center;
    margin: 1% 0% 0 5%;
}

.pic_profile {
    padding-top: 15%;
    width: 200px;
    height: 200px;
}

h1 {
    color: aliceblue;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 14pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

h2 {
    color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 10pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

p {
    color: rgb(139, 139, 139);
    text-indent: 2em;
    padding-bottom: 15px;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 9pt;
}

a {
    cursor: pointer;
}

.expositor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;
    padding-top: 5%;
    padding-left: 2%;
    width: 20%;
}

.box img {
    border-radius: 10px;
}

footer {
    clear: both;
    margin: 1% 0% 0 5%;
}

.redes_sociais ul {
    display: flex;
    justify-content: left;
}

a {
    text-decoration: none;
    color: currentColor;
}

.redes_sociais ul li {
    padding-right: 10px;
}